{% extends "main.html" %}
{% block content %}
{% include "header.html" %}>
<div class="row divider green">
	<div class="col-md-12"></div>
</div
<div class="row banner menu">
	<div class="col-md-11 col-md-offset-1 padding-none">
		<h1>Edit Menu Item</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-1 padding-top">
		<form action="#" method = 'POST'>
			<div class="form-group">
				<label for="name">Name:</label>
				<input type ="text" maxlength="100" class="form-control" name="name" value="{{item.name }}">

				<label for="description">Description:</label>
				<textarea type ="text" maxlength="100" class="form-control" name="name" value="{{item.description }}"></textarea>

				<label for="price">Price:</label>
				<div class="input-group">
					<div class="input-group-addon">$</div>
					<input type ="text" maxlength="10" class="form-control" name="price" value="{{item.price}}">
				</div>

				<label for="course">Course:</label>
				<div class="radio">
					<input type='radio' size='30' name='course' value = "Appetizer">Appetizer</br>
					<input type='radio' size='30' name='course' value = "Entree">Entree</br>
					<input type='radio' size='30' name='course' value = "Dessert">Dessert</br>
					<input type='radio' size='30' name='course' value = "Beverage">Beverage</br>
				</div>
				<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
					<a href = '{{url_for('showRestaurants')}}'>
						<button class="btn btn-default delete">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
						</button>
					</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}





<input type='submit' value='Edit'>
</form>

<a href= '#'>Cancel</a>

</body>
</html>